<!doctype html>
<html lang="en">
    <head>
        <title>GTA</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="icons/logo.svg" />
		<src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="476770881781-parha044dq82dih9am4rb8ul5fou6bc9.apps.googleusercontent.com">
		<script>
			function onLoad() {
				gapi.load('auth2', function() {
					gapi.auth2.init();
				});
			}
		</script>
		<script src="https://apis.google.com/js/api.js"></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
		<script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
        <!-- Main Stylesheet-->
        <link rel="stylesheet" href="style.css">

        <!-- Bootstrap 5 -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">		
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- CODEMIRROR -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/theme/monokai.min.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/python/python.min.js"></script>

        <!-- SPLIT -->
        <script src="https://unpkg.com/split.js/dist/split.min.js"></script>

        <!-- BRYTHON -->
        <script src="https://raw.githack.com/brython-dev/brython/master/www/src/brython.js"></script>
        <script src="https://raw.githack.com/brython-dev/brython/master/www/src/brython_stdlib.js"></script>

        <!-- CYTOSCAPE -->
        <script src="https://unpkg.com/lodash@4.17.4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.9.4/cytoscape.min.js"></script>
        <script src="https://unpkg.com/cytoscape-edgehandles/cytoscape-edgehandles.js"></script>

        <script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.4/cytoscape-popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@4.0.1/umd/index.all.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@4.0.1/index.css" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.css">
        <script src="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.js"
                integrity="sha256-F/Xda58SPdcUCr+xhSGz9MA2zQBPb0ASEYKohl8UCHc=" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
    </head>

    <body onload="brython(1)">
        <div id="whiteboard"></div>
        <div id="player" class="player">
            <button type="button" class="btn"><i class="fa fa-backward" onclick="stepBackward()"></i></button>
            <button type="button" class="btn"><i class="fa fa-play" onclick="play()"></i></button>
            <button type="button" class="btn"><i class="fa fa-stop" onclick="stop()"></i></button>
            <button type="button" class="btn"><i class="fa fa-forward" onclick="stepForward()"></i></button>  
        </div>
        <div class="d-flex align-items-stretch">
            <!-- Left sidebar -->
            <div id="sidebar-left">
                <!-- Placeholder for CodeMirror -->
                <nav id="navbar">
                    <div class="custom-menu">
                        <button type="button" id="collapse-left" class="btnc btnc-primary">
                            <i class="fa fa-terminal"></i>
                        </button>
                    </div>
                </nav>

                <!-- Vertical control resizer -->
                <div class="resizer" data-direction="vertical"></div>

                <!-- Control panel -->
                <div id="scripts" class="input-group">
                    <select id="scripts-select" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option value="0" selected>custom</option>
                        <option value="1">dfs</option>
                        <option value="2">bfs</option>
                        <option value="3">prim</option>
                        <option value="4">kruskal</option>
                        <option value="5">dijkstra</option>
                        <option value="6">bellman-ford</option>
                        <option value="7">floyd-warshall</option>
                        <option value="8">kahn</option>
                        <option value="9">double-dfs</option>
                        <option value="10">kosaraju</option>
                    </select>
                    <button class="btn btn-primary btn-sm" type="button" onclick="loadScript()">
                        <i class="fa fa-download"></i>
                    </button>
                    <input id="save-script-input" type="text" class="form-control form-control-sm" placeholder="script-name">
                    <button class="btn btn-primary btn-sm" type="button" onclick="saveScript()">
                        <i class="fa fa-save"></i>
                    </button>
                </div>

                <div id="control">                    
                    <div class="btn-group">
                        <button id="run-button" type="button" class="btn btn-light btn-sm"><i class="fa fa-play"></i></button>
                        <button id="step-button" type="button" class="btn btn-light btn-sm"><i class="fa fa-step-forward"></i></button>
                        <button id="stop-button" type="button" class="btn btn-light btn-sm"><i class="fa fa-stop"></i></button>
                    </div>
                    <h4 class="small font-italic text-muted">fast</h4>
                    <input id="slider" type="range" class="form-range" value="0.5" min="0.1" max="1" step="0.1">
                    <h4 class="small font-italic text-muted">slow</h4>
                    <input type="color" class="form-control form-control-color-sm" id="color1" value="#28c361" title="color 1">
                    <input type="color" class="form-control form-control-color-sm" id="color2" value="#f6cb16" title="color 2">
                    <input type="color" class="form-control form-control-color-sm" id="color3" value="#e73f22" title="color 3">
                </div>

                <!-- Console -->
                <textarea readonly class="form-control" id="console"></textarea>
            </div>

            <!-- Horizontal control resizer -->
            <div class="resizer" data-direction="horizontal"></div>

            <div id="center-canvas" class="input-group-sm">
                <select id="vertex-select" class="form-select form-select-sm">
                    <option selected>graph</option>
                </select>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="center()">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <!-- Right sidebar --> 
            <nav id="sidebar-right">
                <div class="custom-menu">
                    <button type="button" id="collapse-right" class="btnc btnc-primary">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div id="menu">

                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <img src="icons/logo.svg" alt="" width="30" height="30">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Hello <%= name %>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <form action="/logout?_method=DELETE" method="POST" class="dropdown-item" onsubmit="return glogout();">
                                                    <button type="submit" class="dropdown-item btn-sm">Logout</button>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    
                    <div id="navigation">
                        <div id="graphs" class="input-group input-group-sm">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Graph</span>
                            <select id="graphs-select" class="form-select form-select-sm">
                                <option selected></option>
                            </select>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-primary btn-sm" onclick="loadGraph()">load</button>
                                <button type="button" class="btn btn-outline-primary btn-sm" onclick="clearGraph()">clear</button>
                            </div>
                        </div>

                        <div id="save-graph" class="input-group input-group-sm">
                            <input id="save-graph-input" class="form-control form-control-sm" type="text" placeholder="graph-name">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-primary btn-sm" onclick="saveGraph()">save</button>
                            </div>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="edit-mode-switch" onclick="editMode()">
                            <label class="small font-italic text-muted" for="edit-mode-switch">edit mode</label>
                        </div>
                    </div>
                    
                    <!-- Accordion -->
                    <div id="accordion" class="accordion">

                        <h3>GRAPH SEARCH</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="0" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="0">Depth First Search</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="1" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="1">Breadth First Search</label>
                        </div>

                        <h3>SPANNING TREE</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="2" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="2">Prim</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="3" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="3">Kruskal</label>
                        </div>

                        <h3>SHORTEST PATH</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="4" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="4">Dijkstra</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="5" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="5">Bellman-Ford</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="6" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="6">Floyd-Warshall</label>
                        </div>                   

                        <h3>TOPOLOGICAL SORT</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="7" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="7">Kahn</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="8" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="8">Double DFS</label>
                        </div>

                        <h3>CONNECTED COMPONENTS</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="algorithms" id="9" onclick="checkbox(this.id)">
                            <label class="form-check-label" for="9">Kosaraju</label>
                        </div>

                    </div>
                </div>
                
            </nav>            
        </div>
		<script>
			function glogout(){
				console.log("GLOGOUT")
				gapi.auth2.getAuthInstance().signOut().then(function() {
				console.log('user signed out')
				})
			}
		</script>
        <script src="animation.js"></script>
        <script src="algorithms.js"></script>
        <script src="script.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script type="text/python" src="py2js.py"></script>
    </body>
</html>