.mdl-layout__drawer {
  width: 20%;
}

#graph_select {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#graph_edit {
    margin-right: 10px;
    margin-left: 10px;
}

#dropdown {
    margin-right: 5px;
}

#slider {
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

#control {
    margin-top: 5px;
    margin-right: 50px;
    margin-left: 50px;
}

#accordion {
    margin-top: 20px;
    padding: 10px;
}


.gutter {
    cursor: s-resize;
    height:15px;
    background: rgb(39, 111, 243);
  }

#cy {
    margin-left: 20%;
    width: 80%; 
}

.CodeMirror * {
    font-size: 20px;
}

#cm {
    margin-left: 20%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#outputc{
    margin-left: 20%;
}

#output {
    width: 100%;
    height: 100%;
    font-size: 12px;
    float: none;
    font-size: 20px;
    background-color: black;
    color: white
}